# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Rope project settings
.ropeproject

# Test and build temporary files
.pytest_cache/
/.qgis2fds-test-*/
/.qgis2fds-fds-*/
/.qgis2fds-quantitative-cases/
/dev/build/.qgis2fds-*.tmp

# QGIS
*.qgs~
*.qgz
*.zip
*.aux.xml

*_downloaded.tif
*_qgis2fds_local_*.tif

# FDS calculations
FDS
