# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Rope project settings
.ropeproject

# QGIS
*.qgs~
*.qgz

# Deploy
deploy_qgis2fds

# FDS calculations
*.s3d
*.s3d.sz
*_cpu.csv
*_git.txt
*_hrr.csv
*_steps.csv
*_devc.csv
*.binfo
*.end
*.out
*.sinfo
*.smv
*.ge
*.ge2
*.ter
*.csv
*.ini
*.bingeom
*.sf
*.sf.bnd
*.be
*.be.bnd
*.bf
*.bf.bnd
*.gbf
*.fds
*.gsf
