# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Rope project settings
.ropeproject

# QGIS
*.qgs~
*.qgz
*.zip
*.aux.xml

*_downloaded.tif
*_qgis2fds_local_*.tif

# FDS calculations
FDS